{% extends 'base.html.twig' %}

{% block title %}Детали{% endblock %}

{% block body %}


    {% for  data in detailData %}
        <div style="margin: 20px">
            {% if detailData['data']['url'] != "default" %}
                <img src="{{ detailData['data']['thumbnail'] }}" style="width: 150px; height: 150px; ">
            {% else  %}
                <div style="width: 150px; height: 150px; text-align: center">
                    Нет фото
                </div>
            {% endif %}
            <p style="color: deepskyblue;"> {{ detailData['data']['title']  |  truncate(20)}}</p>
            <p> {{ detailData['data']['author']  |  truncate(20)}}</p>
            <p>{{ detailData['data']['created_utc'] }}</p>
        </div>
    {% endfor %}



{% endblock %}

