{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}


{% block body %}

    <header>
        <h1 style="">Реддит</h1>
        <div style="float: right; margin-right: 100px">
            <a href="{{ path('app_registration') }}"> Ренистрация </a> или <a href="{{ path('app_authorization') }}">
                Войти </a>
        </div>
    </header>

    <div class="container">
        {{ form(form) }}
        <div class="row">
    {% for  data in dataSearch %}

    <div style="margin: 20px">
        {% if data['thumbnail'] != 'default' %}
       <img src="{{ data['thumbnail'] }}" style="width: 150px; height: 150px; ">
        {% else  %}
            <div style="width: 150px; height: 150px; text-align: center">
                Нет фото
            </div>
        {% endif %}
        <br>
        <a href="{{ path('app_display', {'name': data.name} ) }}" style="color: deepskyblue; "> {{ data['title']  |  truncate(20)}}</a>
        <p> {{ data['author']  |  truncate(20)}}</p>
        <p>{{ data['created_utc'] }}</p>
    </div>
    {% endfor %}
        </div>
</div>

    <footer>
    </footer>
{% endblock %}
