{% extends 'base.html.twig' %}

{% block title %}Авторизация{% endblock %}

{% block body %}

    <div class="container">
        {% if error %}
          <p style="color:red;"> {{ error }}</p>
        {% endif %}
        {{ form(form) }}
        <a href="{{ path('app_authorization') }}">Авторизация</a>
        <a href="{{ path('homePage') }}">Домашняя страница</a>
    </div>

{% endblock %}

